<h1>Boards</h1>

<p><%= link_to("Add Board", new_admin_board_path) %></p>

<%= will_paginate @boards %>

<table>
  <tr>
    <th>name</th>
  </tr>
  <% @boards.each do |board| %>
    <tr>
      <td><%= link_to(board.name, board_path(board)) %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate @boards %>

<p><%= link_to("Add Board", new_admin_board_path) %></p>
