<!-- 這邊也不使用 form_for [@xx, @oo] 的 style -->
<!-- partial 等片段，有限制縮排嗎？ eg. 總是從第一層開始 -->

  <div>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>

  <div>
    <%= f.submit "Save" %>
  </div>
